html{
    scroll-behavior: smooth;
}
:root{
      --blue: #007bff;
      --red: #ff5a5f;
      --btn-red: #f82323;
      --nav-back: #f08080;
}
h1,h2,h3,h4,h5,h6{
      padding: 0;
      margin: 0;
}
p{
      padding: 0;
      margin: 0;
}
ul{
      padding: 0;
      margin: 0;
}
li{
      list-style: none;
}
h1{
      font-weight: bold;
}
.form-control{
      height: 50px;
      margin-bottom: 15px;
}
.section-title{
      margin-bottom: 50px;
      text-align: center;
}
.section-title h1{
    font-weight: bold;
    color: var(--red);
}
.float-right{
      float: right!important;
}
a:hover{
    text-decoration: none;
}
section{
      padding: 100px 0;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-30{
    margin-bottom: 30px;
}
.pb-50{
    padding-bottom: 50px;
}
.pb-70{
    padding-bottom: 70px;
}
.btn{
    text-align: center;
    background-color:var(--red);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 12px 20px;
    transition: .5s all ease;
}
.btn:hover{
    background-color: var(--btn-red);
    color: #ffffff;
    border-color: #fff;
    /* changing required for red color */
}
.icon{
    font-size: 18px;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    line-height: 34px;
    color: #fff;
    background-color: #535353;
    display: inline-block;
    transition: .5s all ease;
}
/* -----   Navbar   ----- */
.navbar{
    padding: 15px 0px 15px 15px;
    background-color: var(--nav-back);
}
.nav-link{
    color: #fff!important;
    margin-right: 25px;
}
.home{
    border-bottom: 2px solid var(--red);
}
.nav-btn a{
    color: var(--red);
    background-color: #fff;
}
.nav-btn a:hover{
    background-color: var(--red);
}
/* -----   Main Banner   ----- */
.main-banner-box{
    position: relative;
    overflow: hidden;
}
.main-banner-textarea{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-120%,-50%);
    color: #fff;
    transition: .2s all ease;
    background-color: #000000a6;
    padding: 10px 0;
}
.main-banner-text a:hover{
    /* border-color: #fff; */
     /* its working with a as well btn */
}
.main-banner-text a{
    border: none;
}
/* -----   Experties   ----- */
.experties-box{
    border: 1px solid #ececec;
    transition: .8s all ease;
}
.experties-box:hover{
    box-shadow: 0 0 10px 0 #ababab;
}
.experties-box .icon{
        font-size: 25px;
        width: 55px;
        height: 55px;
        line-height: 55px;
        border-radius: 50%;
        color: #fff;
        background-color: var(--red);
        transition: 1.1s all ease;
}
.experties-box:hover span{
    transform: scale(1.3);
}
/* -----   About   ----- */
.about-box .btn:hover{
    border: 1px solid #000;
}
/* -----   Services   ----- */
.service-box .icon{
    font-size: 35px;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    color: #fff;
    background-color: var(--red);
    transition: 1.1s all ease;
}
.service-box{
    background-color: #fcf7f7;
}
.service-box:hover span{
    transform: scale(1.2);
}
/* -----   Stat   ----- */
#stat{
    background-image: url(../images/stat/stat-bg.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    background-attachment: fixed;
}
.stat-box .stat-icon{
    font-size: 60px;
    transition: 1s all ease;
}
.stat-box{
    color: var(--red);
}
.stat-box:hover .stat-icon{
    transform: scale(1.5);
}
/* -----   Team   ----- */
.team-box img{
    transition: .5s all ease;
}
.team-box:hover img{
    transform: scale(1.1);
}
.team-icon .icon:hover{
    background-color: var(--red);
    color: #fff;
}
/* -----   Video   ----- */
.video-box-right{
    position: relative;
}
.video-box-right a{
    color: var(--red);
    font-size: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* -----   Testimonial   ----- */
.testimonial-bottom-icon{
    color: var(--red);
}
.testimonial-top-icon{
    font-size: 70px;
    color: var(--red);
}
.testimonial-box-detail{
    box-shadow: 0 4px 15px #d3d3d3;
    padding: 15px;
}
#testimonial-carousel .item{
    padding: 20px 0 20px 0;
    opacity: 0.2;
}
#testimonial-carousel .owl-item.active.center .item{
    opacity: 1!important;
    transform: scale(1.05);
}
/* -----   Blog   ----- */
.blog-box p{
    color: var(--red);
}
.blog-icon a{
    color: #000;
}
.blog-icon-text{
    color: var(--red);
}
.blog-box h4{
    margin-bottom: 100px;
}
.blog-box{
    box-shadow: 0 4px 15px #d3d3d3;
}
.blog-box img{
    transition: .7s all ease;
}
.blog-icon{
    border-top: 1px solid #bdbdbd;
}
.blog-box:hover img{
    transform: scale(1.01);
}
/* -----   Footer   ----- */
.footer-icon-color{
    color: var(--red);
}
.footer-box{
    color: #fff;
}
.footer-box a{
    color: #fff;
}
.footer-tag-color{
    color: #aca8a8;
}
footer{
    padding: 100px 0 0 0;
}
.lower-footer-textarea{
    color: #fff;
}
.lower-footer-icon .icon:hover{
    background-color: var(--red);
    color: #fff;
}
.lower-footer-area{
    border-top: 2px solid #c0bcbc;
    padding-top: 20px;
}
/* -----   Contact   ----- */
.contact-box .btn{
    padding: 12px 40px;
}
/* -----   Blog Detail   ----- */
.detail-icon-date-comment a{
    color: #000;
}
.detail-color{
    color: var(--red);
}
.detail-comment-img-heading a{
    color: var(--red);
}
.detail-text-icon{
    background-color: #d8d4d4;
    padding: 10px 0 10px 5px;
    /* color: var(--red)!important; */
}
.detail-text-icon-text a{
    color: var(--red)!important;
}
.detail-text-icon-icon a{
    color: var(--red)!important;
}
.right-list a{
    color: var(--red);
}
.right-img-heading-date a{
    color: var(--red);
}
.right-tags-name a{
    background-color: #c9cbce;
    color: var(--red);
    padding: 5px;
}
/* -----   Media Quries   ----- */
@media only screen and (max-width:575px){
    .footer-box{
        text-align: center;
    }
}
@media only screen and (max-width:585px){
    .main-banner-text p{
        font-size: 12px;
        left: 10px;
        width: 100%;
    }
}
@media only screen and (max-width:497px){
    .main-banner-text a{
        display: none;
    }
}
@media only screen and (max-width:393px){
    .main-banner-textarea{
        display: none;
    }
}
@media only screen and (max-width:991px){
    .lower-footer-textarea{
        text-align: center;
    }
    .lower-footer-icon{
        text-align: center!important;
    }
}
